{% extends 'layout.html' %}
{% load static %}

{% block title %}Play Chain Reaction Locally{% endblock %}

{% block libraries %}
    <script src="{% static 'js/core/chainreaction.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="flexbox-row">
        <div class="column-fourth full-height mobile-hide" id="game-settings-window"></div>
        <div class="column-half full-height" id="game-window"></div>
        <div class="column-fourth full-height mobile-hide" id="game-info-window"></div>
    </div>
{% endblock %}