{% extends 'layout.html' %}
{% load static %}

{% block title %}{{ lobby_name }} - Play Chain Reaction with Friends{% endblock %}

{% block body %}

{% endblock %}

{% block javascript %}
    <script src="{% static 'js/websocket_handlers.js' %}"></script>
    <script>
        const playerName = "{{ player_name }}";
        const lobbyName = "{{ lobby_name }}";

        const socket = new WebSocket(
            'ws://'
            + document.location.hostname
            + '/ws/game/'
            + lobbyName
            + '/'
        );
    </script>
    <script src="{% static 'js/play_live.js' %}"></script>
{% endblock %}