<div class="pad-30 flexbox-column">
    <h1>Chain Reaction</h1>
</div>

{% if lobby_code %}
<div class="pad-30 flexbox-column">
    <h1>{{ lobby_code }}</h1>
</div>
{% endif %}

<div class="pad-30 flexbox-column">
    <label for="n-players">How many people are playing?</label>
    <input type="number" name="n-players" id="n-players" value="2">
</div>

<div class="pad-30 flexbox-column">
    <label for="width">Number of cells per row</label>
    <input type="number" name="width" id="width" value="7">
</div>

<div class="pad-30 flexbox-column">
    <label for="height">Number of rows</label>
    <input type="number" name="height" id="height" value="9">
</div>

<div class="pad-30 flexbox-column">
    <button id="start-game">
        <span style="font-size: 1.5rem;">Start Game</span>
    </button>
</div>