<div class="pad-30">
    <label for="n-players">How many people are playing?</label>
    <input type="number" name="n-players" id="n-players" value="2">
</div>

<div class="pad-30">
    <label for="width">Number of cells per row</label>
    <input type="number" name="width" id="width" value="6">
</div>

<div class="pad-30">
    <label for="height">Number of rows</label>
    <input type="number" name="height" id="height" value="9">
</div>

<div class="pad-30">
    <button id="start-game">
        <span>Start game</span>
    </button>
</div>